.day-name-col {
    margin-right: 5px;
    width: 18%;
    border-bottom: 1px solid;
}

.days-div {
    margin-bottom: 10px;
    display: flex;
}

.schedule-container {
    display: flex;
}

.time-col {
    height: 45px;
    padding-right: 10px;
    text-align: right;
}

.day-inside {
    border-top: 1px dashed grey;
    opacity: 0.6;
}

.day-col {
    position: relative;
    display: flex;
    top: 10px;
    height: 45px;
    border-top: 1px solid gray;
    opacity: 0.2;
    flex-direction: column;
    justify-content: center;
}

.times-col {
    width: 8%;
}

.days-col {
    position: relative;
    width: 18%;
    margin-right: 5px;
}

.hour-slot {
    font-size: 14px;
}
.time-name-col {
    width: 8%;
}

.times-col {
    width: 8%;
}
@media screen and (max-width: 505px) {
    .time-name-col {
        width: 13%;
    }

    .times-col {
        width: 13%;
    }
}

.schedule-inside-container {
    width: 100%;
}