.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
    padding: 10px;
}

.column-search {
    flex-grow: 1;
}

@media screen and (max-width: 590px) {
    .column-search {
        width: 100%;
        max-width: 300px;
    }

    .column-calendar {
        padding-top: 20px;
        width: 100%;
    }

    .flex-container {
        padding: 5px;
    }
}

.column-calendar {
    flex-grow: 4;
}

.schedule-button-controls{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
    padding: 10px;
}