.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto auto 20px auto;
    max-width: 1200px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    position: relative;
}

.list-content-red {
    background-color: #e3726b;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
}

.list-content-red-hover {
    background-color: #ff827b;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
}

.list-content-grey {
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
}

.list-content-green {
    background-color: #a0e189;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
}

.list-content-green-hover {
    background-color: #b5ff9b;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
}

.column-search {
    display: flex;
    flex-direction: column;
    align-content: center;
}

@media screen and (max-width: 724px) {
    .column-search {
        width: 350px;
    }

    .column-calendar {
        padding-top: 20px;
        width: 100%;
    }
}

@media screen and (min-width: 724px) {
    .column-search {
        width: 250px;
    }
}

@media screen and (max-width: 590px) {
    .flex-container {
        padding: 5px;
    }
}

.column-calendar {
    flex-grow: 1;
}

.saved-schedules-label, .waitlists-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 5px;
    font-size: 25px;
    color: #505050;
}

.schedule-button-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;

}

.main-container {
    padding: 0 10px 85px 10px;
}

#root {
    /*background: no-repeat center center url(https://s3-us-west-1.amazonaws.com/bobcat-courses-static/images/uc_merced_72_blurred.jpg);*/
    background: linear-gradient(#0c3e5a, #a29061);
    position: relative;
    min-height: 100%;
    padding-top: 5px;
}

.footer {
    max-width: 1200px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    left: 10px;
    margin: auto;
    margin-bottom: -5px;
    text-align: center;
}

.spinner {
    font-size: 100px;
}

.course-list {
    display: flex;
    flex-direction: column;
}

.course-item {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}

.course-list-options {
    margin-left: auto;
    margin-top: auto;
}

.schedule-column {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.save-button-control.button {
    color: #2a2a2a;
    background-color: #5cc1b3;
}

.save-button-control.button:hover {
    color: #2a2a2a;
    background-color: #60c9ba;
}

.remove-button.button {
    color: #2a2a2a;
    background-color: #ff6b7a;
}

.remove-button.button:hover {
    background-color: #ff747e;
}

.section-button.button {
    color: #fafafa;
    background-color: #757882;
}

.section-button.button:hover {
    color: #fafafa;
    background-color: #7a7d87;
}

.generate-button.button {
    color: #2a2a2a;
    background-color: #6ef7c8;
}

.generate-button.button:hover {
    color: #2a2a2a;
    background-color: #71ffce;
}

.ui.button.brown {
    font-size: 30px;
    padding: 0 10px 0 10px;
}

.register-form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.90);
    padding: 40px;
    padding-bottom: 20px;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.90);
    padding: 40px;
    padding-bottom: 20px;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cog-setting-icon {
    position: absolute;
    right: 0;
    top: 7px;
    font-size: 25px;
}

.cog-setting-icon:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 420px) {
    .cog-setting-icon {
        position: absolute;
        right: 0;
        top: 7px;
        font-size: 25px;
    }
}

.calendar-option {
    padding-left: 10px;
}

.save-button, .delete-option {
    /*font-size: 100px;*/
    padding-right: 10px;
}

.filter-out-text:hover{
    color: #f2f2f2;
}
.filter-in-text:hover{
    color: #c87305;
}

.ui.form ::-webkit-input-placeholder {
    color: rgba(110, 110, 110, 0.87) !important;
}

.ui.form :-ms-input-placeholder {
    color: rgba(110, 110, 110, 0.87) !important;
}

.ui.form ::-moz-placeholder {
    color: rgba(110, 110, 110, 0.87) !important;
}

.ui.form :focus::-webkit-input-placeholder {
    color: rgba(191, 191, 191, .87) !important;
}

.ui.form :focus:-ms-input-placeholder {
    color: rgba(191, 191, 191, .87) !important;
}

.ui.form :focus::-moz-placeholder {
    color: rgba(191, 191, 191, .87) !important;
}
.logo-nav-bar{
    /*font-size: 200px;*/
    /*font-size: 30px;*/
    font-weight: 900;
}