.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    position: relative;
}

.column-search {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
}

@media screen and (max-width: 590px) {
    .column-search {
        width: 100%;
        max-width: 300px;
    }

    .column-calendar {
        padding-top: 20px;
        width: 100%;
    }

    .flex-container {
        padding: 5px;
    }
}

@media screen and (max-width: 390px) {
    .column-search {
        max-width: 240px;
    }
}

.column-calendar {
    flex-grow: 4;
}

.saved-schedules-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 5px;
    font-size: 25px;
    color: #505050;
}

.schedule-button-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;

}

.main-container {
    padding: 0 10px 10px 10px;
}

.top-div {
    background: no-repeat center center url('https://s3-us-west-1.amazonaws.com/bobcat-courses-static/images/uc_merced_72.jpg');
    filter: blur(5px) brightness(80%);
    -webkit-filter: blur(5px) brightness(80%);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-size: cover; /* <------ */
    -webkit-background-size: cover; /* <------ */
    z-index: -1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.spinner {
    font-size: 100px;
}

.course-list {
    display: flex;
    flex-direction: column;
}

.course-item {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*padding-right: 10px;*/
    padding-left: 5px;
}

.course-list-options {
    margin-left: auto;
    margin-top: auto;
}

.schedule-column {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.generate-button {
    max-width: 100%;
    text-align: center;
}

.ui.button.brown {
    font-size: 30px;
    padding: 0 10px 0 10px;
}

.login-form {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.90);
    padding: 40px;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.cog-setting-icon {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 30px;
}

@media screen and (max-width: 420px) {
    .cog-setting-icon {
        position: absolute;
        right: 0;
        top: 7px;
        font-size: 25px;
    }
}

.save-option, .delete-option {
    /*font-size: 100px;*/
    padding-right: 10px;
}